{% extends 'users/users.html' %}

{% block body_content %}
    <div class="custom row">
        <div class="col-md-8">
            <form id="user-info">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="user-first-name">First Name</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="user-first-name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="user-last-name">Last Name</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="user-last-name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="user-card-id">Card ID: 5 digit number on back of Bethel ID</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="user-card-id">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="user-role">Role: Administrator or Student</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="user-role">
                    </div>
                </div>
            </form>
            <button id="add-user-row" class="btn btn-primary" type="submit" form="user-info" value="Submit">Submit</button>
        </div>
    </div>
{% endblock %}