{% extends 'users/index.html' %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-9">
            <form class="form">
                <table id="table"  class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th data-toggle="tooltip" data-placement="top" title="User First Name">Username</th>
                            <th data-toggle="tooltip" data-placement="top" title="User Card ID">Card ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>mjw83735</td>
                            <td>31790</td>
                        </tr>
                        <tr>
                            <td>ryk29473</td>
                            <td>12345</td>
                        </tr>
                        <tr>
                            <td>maf60459</td>
                            <td>34567</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}