a.btn.btn-primary.sign-out {
    margin: 0;
}

.active {
    max-height: 30px;
    background-color: #0F2C52;
    color: white !important;
    border-radius: 6px;
    padding: 3px 16px
}

a.dashboard-link{
    text-decoration: none;
}

a.nav-link.button {
    color: #fff !important;
}

a.nav-link.button.nav-bar-active {
    color: #FFC600 !important;
}

a.nav-link:hover{
    text-decoration:underline !important;
}

.background-blue {
    background-color: #123563;
}

body {
    background: #ffffff;
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 0.93em;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

.btn-primary {
    background-color: #005eb2;
    border: 1px solid #0053b2;
    color: #fff;
}

div.centered {
    text-align:center;
}

div.card.info.help-page {
    margin-bottom: 10px;
}

div.dashboard-card{
    background-color: #f2f2f2;
    border-color: #d8d8d8;
    margin-bottom: 10px;
}

div.dashboard-info{
    background-color: #f2f2f2;
    border-color: #d8d8d8;
    margin-top: 10px;
}

div.form-group.col-md-6, #add-user-row {
    margin-bottom: 12px;
    padding: 0 5px;
}

html, body {
    background-color: #fafafa;
}

.margins {
    width: 100%;
    margin: 20px auto;
    max-width: 70rem;
}

.navbar {
    padding: 1em 2em !important;
}

.nav.margins {
    padding: 0 2em;
}

nav.navbar{
    padding: 0 10px;
}

span.lab-title{
    color: #ffc600
}

.staff {
    margin-right: 15px;
}

.staff-row {
    margin: 0;
}

#title-bar {
    margin: 0 0 12px;
}

.wc-margins {
    width: 100%;
    margin: 20px auto;
    max-width: 95%;
}