{% extends 'help_desk_base.html' %}

{% block body_content %}
    <!-- Test code / incomplete -->
    <div class="col-md-12">
        <div class="card info help-page">
            <div class="card-body text-left">
                <h4 class="card-text">
                    Help:
                </h4>
                <h7 class="card-text">
                    Generate Shifts: Runs the program to generate "bad" shifts and posts them in the
                    'flagged_items' sheet of the Google Spreadsheet <br>
                </h7>
                <h7 class="card-text">
                    Flagged Shifts: Opens a link to the collected data of "bad" shifts in the Google Spreadsheet in a
                    new tab <br>
                </h7>
                <h7 class="card-text">
                    Scanner Data: Opens a link to the collected data of scanner input of sign ins and outs in the Google
                    Spreadsheet in a new tab <br>
                </h7>
                <h7 class="card-text">
                    Help Desk Shifts: Opens a link to the manager input of help desk shifts in the Google Spreadsheet in
                    a new tab
                </h7>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a class="dashboard-link" href="{{ url_for('ShiftsView:generate_shifts') }}">
                    <div class="card dashboard-card centered">
                        <div class="card-body btn-success" id="generate-shifts">
                            <h6>Generate Shifts</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="dashboard-link" href="https://docs.google.com/spreadsheets/d/1C-wenU3zhy2AhZKr117dtig98Xa3ftkA1GzRqIZ7Dig/edit?usp=sharing" target="_blank">
                    <div class="card dashboard-card centered">
                        <div class="card-body btn-primary" id="flagged-data">
                            <h6>Flagged Shifts</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="dashboard-link" href="https://docs.google.com/spreadsheets/d/1C-wenU3zhy2AhZKr117dtig98Xa3ftkA1GzRqIZ7Dig/edit#gid=51470580" target="_blank">
                    <div class="card dashboard-card centered">
                        <div class="card-body btn-primary" id="scanner-data" data-toggle="collapse" role="button">
                            <h6>Scanner Data</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="dashboard-link" href="https://docs.google.com/spreadsheets/d/1C-wenU3zhy2AhZKr117dtig98Xa3ftkA1GzRqIZ7Dig/edit#gid=2051794733" target="_blank">
                    <div class="card dashboard-card centered">
                        <div class="card-body btn-primary" id="hd-shifts" data-toggle="collapse" role="button">
                            <h6>Help Desk Shifts</h6>
                        </div>
                    </div>
                </a>
            </div>
    </div>
        <br/>
    {% block tab_content %}

    {% endblock %}

{% endblock %}