{% extends 'help_desk_base.html' %}

{% block body_content %}
     <form action="{{ submit_url }}" method="post">
        {% if env != 'prod' %}  {# Can't sign in for other users in dev env, so dropdown to choose student #}
            <div>
                <label for="student-select">Select a student to sign in:</label>
                <select id="student-select" name="selected-student">
                    <option value="-1">Choose a Student</option>
                    {% for student in all_students %}
                        <option value="{{ student.id }}">{{ student.firstName }} {{ student.lastName }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div>
            <label>Select whether you are signing in or out of a shift:</label>
            <a class="btn btn-primary" href="{{ url_for('ShiftsView:sign_in') }}">Sign in</a>
            <a class="btn btn-primary" href="{{ url_for('ShiftsView:sign_out') }}">Sign out</a>
        </div>
     </form>

    <table id="student-attendance" class="table table-striped table-bordered">
        <tr>
            <th data-toggle="tooltip" data-placement="top" title="Student Name">Name</th>
            <th data-toggle="tooltip" data-placement="top" title="Shift Number">Shift Number</th>
            <th data-toggle="tooltip" data-placement="top" title="Time Signed Into Session">Time In</th>
            <th data-toggle="tooltip" data-placement="top" title="Time Signed Out of Session">Time Out</th>
        </tr>
        <tr>
            <td>Micah Weiberg</td>
            <td>1</td>
            <td>12:30 PM</td>
            <td>1:45 PM</td>
        </tr>
        <tr>
            <td>Micah Weiberg</td>
            <td>2</td>
            <td>6:00 PM</td>
            <td></td>
        </tr>
    </table>
{% endblock %}