{% extends 'help_desk_base.html' %}

{% block body_content %}
    <div class="col-md-12">
        <div class="card info">
            <div class="card-body text-center">
                <h3 class="card-text">Help Desk Time Clock</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="dashboard-link" href="{{ url_for('ShiftsView:clock_in') }}">
                    <div class="card dashboard-card text-center">
                        <div class="card-body btn-primary" id="clock-in-button">
                            <h4>Clock In</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="dashboard-link" href="{{ url_for('ShiftsView:clock_out') }}">
                    <div class="card dashboard-card text-center">
                        <div class="card-body btn-primary" id="clock-out-button">
                            <h4>Clock Out</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
<!--        <div class="row">-->
<!--            <div class="alert alert-success text-center m-3 mb-3 mx-auto" role="alert" style="width: 30rem;">-->
<!--                <h4 class="alert-heading">Sign in/out successful</h4>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="alert alert-danger text-center m-3 mb-3 mx-auto" role="alert" style="width: 30rem;">-->
<!--                <h4 class="alert-heading">Error signing in/out</h4>-->
<!--                <p>Click to refresh and try again</p>-->
<!--                <a href="#" class="btn btn-light" style="width: 13rem;">Refresh</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
{% endblock %}