{% extends 'help_desk_base.html' %}

{% block body_content %}
<div class="centered">
    <h3 id="title-bar">Service Desk Manager FAQ</h3>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
          <h5><u>Staff Page</u></h5>
          <h6>What is a "bad" shift?</h6>
              <p>
                  A "bad" shift is a shift that is caught by the program as one of the following problem-cases:
              </p>
              <ul>
                  <li>Student is 8 or more minutes late to their shift.</li>
                  <li>Student's shift duration is 8 or more minutes less than the scheduled shift duration (e.g., student stays for 1 hour, 51 minutes or less of a 2 hour shift).</li>
                  <li>Student skips their shift or forgets to clock their shift entirely.</li>
                  <li>
                      Student forgets to clock out of their shift. If the student forgets to clock in, but clocks out, such action will be treated as a successful clock in and a missed clock out and marked the same.
                      This is treated as "bad" because it is unknown when they left their shift if there is not data from both the clock in and clock out times.
                  </li>
              </ul>
          <h6>What do each of the buttons do?</h6>
              <ul>
                  <li>Process Shift Data: Runs the code to analyze the differences between the shift schedule entered by you into the Service Desk Schedule sheet and the scanned shifts from the student employees.</li>
                  <li>
                      Flagged Shifts: Opens the Flagged Shifts sheet within the Google Sheet for this site. The Flagged Shifts sheet contains the collected data of "bad" shifts after
                      the shift processor analyzes the shifts between the Service Desk Schedule and Scanner Data sheets when the "Process Shift Data" button is clicked.
                      The sheet is marked as '(view only)' because it is recommended you don't edit the data in this sheet, but you have editing access if edits are necessary.
                  </li>
                  <li>
                      Service Desk Schedule: Opens the Service Desk Schedule sheet, where you enter the student shift schedule you want analyzed by the shift processor.
                  </li>
                  <li>
                      Scanner Data: Opens the Scanner Data sheet, collecting data on each shift as students scan their IDs on the RFID scanner.
                      The sheet is marked as '(view only)' because it is recommended you don't edit the data in this sheet, but you have editing access if edits are necessary.
                  </li>
                  <li>
                      Student Employees: Opens the Student Employees sheet, which contains the list of current student employees at the Service Desk, or any students you want signing in and out of shifts. Any student you
                      want signing in and out of shifts with the scanner must have their full name and card ID entered in this sheet.
                  </li>
              </ul>
          <h6>What do I need to do before clicking the "Process Shift Data" button?</h6>
          <ul>
              <li>
                  The list of student employees and their corresponding user information must be up to date in the Student Employees sheet.
                  Information required for each student includes their full name and the 5-digit card ID on the back of their Bethel ID cards.
                  The card ID is upside-down on the top-middle of the card, above the magnetic strip.
              </li>
              <li>
                  The shift schedule you want to be compared with the scanned shifts must be entered into the Service Desk Schedule sheet.
              </li>
          </ul>
          <h6>What happens when I click the "Process Shift Data" button?</h6>
              <ul>
                  <li>The shift processor gathers and compares shift data from the Service Desk Schedule and Scanner Data sheets, recording when a "bad" shift occurs during the comparison.</li>
                  <li>
                      All "bad" shifts are logged into the Flagged Shifts sheet of the Google Sheet. Once the site gives you an alert that the program has completed,
                      follow the "Flagged Shifts" button to open the Flagged Shifts sheet in a new tab.
                  </li>
                  <li>
                      The Flagged Shifts sheet adds the new "bad" shifts into the existing list of shifts in the sheet, sorting all "bad" shifts by name, then by date.
                      The Service Desk Schedule sheet clears following the running of the program, while the Scanner Data sheet only clears the shifts that were analyzed by the program.
                      The shifts cleared in Scanner Data are those that fit in the time range of the schedule you entered into Service Desk Schedule.
                  </li>
              </ul>
          <h6>What does the "server exhausted" error message mean?</h6>
            <p>
                The "server exhausted" error occurs when the Google Sheet receives too many requests in a short time to receive or send data between one of the sheets and the code in the program.
                This error can occur at three instances on the site: running the "Process Shift Data" program, scanning IDs to clock in or out of shifts, and accessing the home page with the table of student shifts for the day.
                While the error is unlikely to occur during normal use, when the error appears, waiting 60 seconds or so and refreshing the page will typically solve the problem.
                If the error appears multiple times, wait another minute and it should fix itself. If the problem persists, contact the Web team.
            </p>
      </div>
      <div class="card-body">
          <h5><u>Time Clock Page</u></h5>
          <h6>How is the page accessed?</h6>
          <p>
              To reach any site in the Service Desk Sign-In application, users will sign into CAS before reaching a screen with a button to "Start Session", as well as the Staff and Help tabs in the navigation bar above.
              To access the Time Clock page, where students sign into shifts, click the "Start Session" button to open the list of today's shifts.
              Clicking the "Start Session" button signs the user out of CAS to ensure that no other user can access their Bethel account information on another Bethel page.
              See the question below on how students can clock in and out of shifts once they are on this page.
          </p>
          <h6>How do the students clock in and out and where is the information stored?</h6>
          <p>
              Students can clock in and out of their shifts by scanning their Bethel ID cards on the RFID scanner at the Service Desk.
              When a student clocks in or out, their card ID matches with their user info from the Student Employees sheet in the Google Sheet.
              Upon matching, the timestamp is recorded as either a clock in or out and is sent to the Scanner Data sheet as well as displayed on the home page of the site.
              The Time Clock page displays the current day's recorded shifts from the full list of shifts.
              All other shifts remain in the Scanner Data sheet out of the students' view.
          </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}