{% extends 'help_desk_base.html' %}

{% block body_content %}
    <form>
        <div class="centered">
            <h3 id="title-bar">Scan ID to Sign In or Out</h3>
            <h3 class="alert alert-danger" id="time-clock-fail" style="display: none;">Scan failed, try again</h3>
            <h3 class="alert alert-danger" id="resource-exhausted" style="display: none;">Error: server exhausted. Please wait 1 minute and try again.</h3>
        </div>
        <div class="spinner" style="display: none;">
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
        </div>
    </form>
    <table id="student-attendance" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th data-toggle="tooltip" data-placement="top" title="Student Name">Name</th>
                <th data-toggle="tooltip" data-placement="top" title="Time Signed Into Shift">Time In</th>
                <th data-toggle="tooltip" data-placement="top" title="Time Signed Out Of Shift">Time Out</th>
            </tr>
        </thead>
        <tbody id="student-tbody">
            {% include 'shifts_table.html' %}
        </tbody>
    </table>
{% endblock %}