<div class="centered">
    {% include 'shift_alert.html' %}
</div>
<table id="student-attendance" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th data-toggle="tooltip" data-placement="top" title="Student Name">Name</th>
            <th data-toggle="tooltip" data-placement="top" title="Time Signed Into Shift">Time In</th>
            <th data-toggle="tooltip" data-placement="top" title="Time Signed Out Of Shift">Time Out</th>
        </tr>
    </thead>
    <tbody id="student-tbody">
        {% for shift in day_list %}
        <tr>
            <td>{{ shift['Name'] }}</td>
            <td>{{ shift['In'] }}</td>
            <td>{{ shift['Out'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>