{% extends 'help_desk_base.html' %}

{% block body_content %}
<div class="body-staff">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <input type="button" class="btn btn-success" id="process-shifts" value="Process Shift Data">
          <p class="card-text">Run the shift processor, which analyzes shifts between the Scanner Data and the Help Desk Schedule and posts the "bad" shifts to Flagged Shifts.</p>
        </div>
        <div class="alert alert-success alert-dismissible" id="processing-complete" style="display: none;">
          <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times</button>
          <h6 id="alert">Shift data processing complete</h6>
        </div>
        <h6 class="alert alert-danger" id="resource-exhausted" style="display: none;">Error: Server Exhausted. Please wait 1 minute and try again.</h6>
        <div class="spinner" style="display: none;">
          <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1C-wenU3zhy2AhZKr117dtig98Xa3ftkA1GzRqIZ7Dig/edit?usp=sharing" target="_blank">Flagged Shifts</a>
          <p class="card-text">Open the collected data of "bad" shifts after the shift processor has completed.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1C-wenU3zhy2AhZKr117dtig98Xa3ftkA1GzRqIZ7Dig/edit#gid=2051794733" target="_blank">Help Desk Schedule</a>
          <p class="card-text">Enter the student shift schedule to be analyzed by the shift processor.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1C-wenU3zhy2AhZKr117dtig98Xa3ftkA1GzRqIZ7Dig/edit#gid=51470580" target="_blank">Scanner Data</a>
          <p class="card-text">Open the collected data of scanned shifts since the last time the shift processor was run.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1C-wenU3zhy2AhZKr117dtig98Xa3ftkA1GzRqIZ7Dig/edit#gid=848779641" target="_blank">Student Employees</a>
          <p class="card-text">Enter student employee information to be utilized by the time clock and shift processor.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}