{% extends 'help_desk_base.html' %}

{% block body_content %}
<div class="body-margins-main">
    <form>
        <div class="centered">
            <h3 id="title-bar">Scan ID to Sign In or Out</h3>
        </div>
        <div class="spinner" style="display: none;">
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
        </div>
    </form>
    <div id="table-refresh">
        {% include 'shifts_table.html' %}
    </div>
</div>
{% endblock %}